/src/backend/PurpleHackBackend/PurpleHackBackend/obj/rider.project.restore.info

/.idea/
/src/backend/PurpleHackBackend/.idea/
/src/backend/PurpleHackBackend/PurpleHackBackend/obj/
/src/backend/PurpleHackBackend/PurpleHackBackend/bin/